# Python

**pycache**/
*.pyc
*.pyo
*.pyd

# Virtual environments

venv/
.env/

# Data / Books

*.pdf
*.epub
*.txt

# Embeddings / Indexes

*.pkl
*.npy
*.npz

# Database dumps

*.sql

# OS

.DS_Store
Thumbs.db

# IDE

.vscode/
.idea/